{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="name">Medicine Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter medicine name"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
  <ul class="list-group list-group-flush" id="notes">
    {% for med in medicine %}
    <li class="list-group-item">
      {{ med.mName }}
    </li>
    {% endfor %}
  </ul>
</form>
{% endblock %}